@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero-bg {
  background-image: url('./assets/images/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .scanner-overlay {
  
  max-width: 400px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed #00ff00;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
} */
/* .scanner-overlay {
   
    height: 250px;
    position: relative;
  border: 4px dashed #00ff00;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
} */
 .scanner-overlay {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb; 
  overflow: hidden;
}

 .scanner-overlay video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; 
}

.scanner-overlay .overlay-frame {
  position: absolute;
  width: 70%;
  height: 40%;
  border: 4px dashed #10b981; 
  z-index: 3;
  box-shadow: 0 0 20px rgba(16, 185, 129, 0.6); 
  border-radius: 8px; 
}

.scanner-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none;
}

 .scanner-overlay .overlay::before,
.scanner-overlay .overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  z-index: 3;
  animation: scanning 2s infinite;
}

@keyframes scanning {
  0% {
    border-color: rgba(16, 185, 129, 0.1); 
  }
  50% {
    border-color: rgba(16, 185, 129, 0.8);
  }
  100% {
    border-color: rgba(16, 185, 129, 0.1); 
  }
}  





button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}



